span::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -5px;
    width: 100%;
    opacity: 0;
    background-color: yellow;
    transition: 0.1s ease-in-out;
}
span:hover::after{
   opacity: 1;
}